body {
  font-family: 'Josefin Slab', serif;
}

.welcome {
  text-align: center;
  margin-top: 8%;
  display: none;
}


.slide {
  text-align: center;
  margin-top: 8%;
  display: none;
}

.slide-btn {
  margin-top: 3em;
}

.prev {
  margin-right: 3em;
}

.intro {
  width: 20em;
}

.start {
  width: 500px;
}

.fold {
  width: 500px;
}


.title-h1 {
  font-family: 'Josefin Slab', serif;
  color: #6495ED;
}

p {
  font-size: 17px;
}
